<!DOCTYPE html>
  <html ng-app="camp">
    <head>
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-grid.min.css">
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div id="mySidenav" class="sidenav" ng-controller="controlador">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <%-opciones %>
        </div>
        <header>
          <a href="http://localhost" style="text-decoration: none;color: #3f3f3f;">Campeonato  </a>
          <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </header>
            <div class="container">