<% include Shared/layout %>
      <h2>Campeonato Mundial <i class="fa fa-futbol-o" aria-hidden="true"></i></h2>
    <div class="row">
      <div class="col-lg-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dapibus laoreet felis eget imperdiet. Morbi sed felis sem. In accumsan eu leo eu scelerisque. Sed ac vehicula lorem. Nam lobortis quam vel varius pellentesque. Cras eget orci justo. Etiam consequat sodales tempor.
        Nunc condimentum libero ac ante aliquet, sit amet commodo nulla posuere. Cras risus dolor, pretium vitae vehicula non, tristique ac ex. Curabitur a sem varius, convallis turpis at, pellentesque massa. Pellentesque luctus interdum massa. Duis in congue elit. Donec commodo nibh et leo consectetur faucibus. Aliquam porta quis sem eu fermentum. Cras rhoncus sed nibh id congue.
      </div>
      <div class="col-lg-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dapibus laoreet felis eget imperdiet. Morbi sed felis sem. In accumsan eu leo eu scelerisque. Sed ac vehicula lorem. Nam lobortis quam vel varius pellentesque. Cras eget orci justo. Etiam consequat sodales tempor.
        Nunc condimentum libero ac ante aliquet, sit amet commodo nulla posuere. Cras risus dolor, pretium vitae vehicula non, tristique ac ex. Curabitur a sem varius, convallis turpis at, pellentesque massa. Pellentesque luctus interdum massa. Duis in congue elit. Donec commodo nibh et leo consectetur faucibus. Aliquam porta quis sem eu fermentum. Cras rhoncus sed nibh id congue.
      </div>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registarUS">Registrarte</button>
    <% include Usuario/registrar %>
<% include Shared/footer %>