<div class="modal fade" id="registarUS" tabindex="-1" role="dialog" aria-labelledby="registarUS" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ng-submit="registrarUS()">
      <div class="modal-body">
        <input type="text" style="margin: 3px 8px" ng-model="nombreUS" placeholder="Nombre" class="form-control" />
        <input type="text" style="margin: 3px 8px" ng-model="paisUS" placeholder="Pais" class="form-control" />
        <input type="text" style="margin: 3px 8px" ng-model="nickUS" placeholder="Usuario" class="form-control" />
        <input type="password" style="margin: 3px 8px" ng-model="passUS" placeholder="Contraseña" class="form-control" />
        <input type="tel" style="margin: 3px 8px" ng-model="edadUS" placeholder="Edad" class="form-control" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">¡Registrate!</button>
      </div>
      </form>
    </div>
  </div>
</div>